*{
  box-sizing: border-box;
}

body{
  margin: 0;
  width: 900px;
  height: 100vh;
  font-family: monospace;
  font-size: 14px;
}

img{
  max-width: 100%;
  width: 5rem;
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-style: italic;
}

a:hover {
  color: rgb(5, 53, 255);
  background-color: transparent;
  font-style: italic;
}

a:active {
  color: rgb(240, 237, 7);
  background-color: transparent;
  font-style: italic;
}

h2{
  font-kerning: none;
  font-size: 1rem;
  font-weight: normal;
}

h3{
  font-size: 11px;
  font-weight: normal;
}

.h1{
  font-weight: 400;
  font-style: italic;
}

.text-y{
  color: rgb(240, 237, 7);
}

.tracking{
  letter-spacing: 0.1rem;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-gap: 5rem;
  font-size: 13px;
  position: fixed;
  color: rgb(0, 0, 0);
  font-weight: normal;
  width: 60%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border: solid 1px rgb(0, 0, 0);
  border-radius: 50%;
}

#R{
    cursor: progress;
}

#R:hover{
    color: rgb(5, 53, 255);
    font-style: italic;
}

.resources{
  z-index: 888;
  width: 20%;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(5, 53, 255);
  position: fixed;
  top: 0.5%;
  right: 0.5%;
  cursor: move;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}



.resources-block-barr{
width: 100%;
font-size: 1rem;
}

.resources-block-intro{
background: rgb(255, 255, 255);
color: rgb(5, 53, 255);
width: 100%;
font-size: 11px;
}

.resources-block{
background: rgb(255, 255, 255);
color: rgb(5, 53, 255);
width: 100%;
}

.close {
  display: block;
  background: white;
  position: absolute;
  top:0;
  right: 0;
    height: 20px; /* this can be anything */
    width: 20px;  /* ...but maintain 1:1 aspect ratio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    cursor: crosshair;
}

.close::before,
.close::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px; /* cross thickness */
    background-color: rgb(5, 53, 255);
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}

.wks .project-text{
    cursor:progress;
}

.wks-info{
  z-index: 999;
  width: 20%;
  height: 50%;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0.5%;
  right: 0.5%;
  cursor: move;
  padding: 0.5rem;
  border: solid 1px rgb(0, 0, 0);

}

.project1-brief{
  z-index: 999;
  width: 40%;
  max-height: 80%;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0.5%;
  left: 0.5%;
  padding: 0.5rem;
  border: solid 1px rgb(0, 0, 0);
 overflow-y: scroll;
}


.project{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  align-content: stretch;
  grid-gap: 0.5rem;
  justify-content: space-between;
  width: 80%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.project-text{
  border: solid 1.2px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  width: 10%;
  border-radius: 40%;
  margin-left: 0.5rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  padding-right: 4%;
}

.week{
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  grid-gap: 0 0.5rem;
  width: 90%;
  margin: 0 0.5rem 0.5rem 0;
}

.week-text{
  width: 98%;
  margin: 0 0.5rem 0 0.5rem;
  border-radius: 35%;
  text-align: center;
}

.day{
  width: 98%;
  margin: 0.5rem;
  grid-gap: 1rem;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;

}

.M{
  padding: 0.5rem;
  width: 50%;
}


.W{
  grid-gap: 1rem;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  width: 50%;
}

.W-text{
  width: 100%;
  text-align: center;
}

.indays{
  width: 50%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: rgba(0, 0, 0, 1);
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 700px) {

    body{
      width: 100vw;
      font-size: 150%;
    }
    .header{
      width: 100vw;
      flex-wrap: wrap;
    }
    .project{
      width: 100vw;
    }
  }
